// header
#header{
  border-top:solid 5px $biru;
  border-bottom: solid 1px #ddd;
  #logo{
    float: left;
  }
  nav{
    float:right;
    padding:35px 0;
    ul{
      margin:0;
    }
    li{
      float:left;
      list-style: none;
      a{
        padding:5px 10px;
        text-decoration: none;
        color:#444;
        font-weight: 100;
        @include transition-duration(0.5s);
        &:hover{
          color:$biru;
        }
        // background: red;
      }
    }
  }
}
