@mixin kotak{

	background:#fff;
	border:solid 1px #ccc;
	@include border-radius(3px);
	padding:15px;
	h3{
		margin:0;
		overflow: hidden;
		a{
			position:relative;
			z-index: 10;
			margin-bottom:10px;
			color:$biru;
			font-weight: bold;		
			float: left;
			background:#fff;
			padding-right:10px;
			span{
				color:#444;
				font-weight: normal;
			}
		}
		&:after{
			content:"";
			border-bottom:solid 1px #eee;
			display: block;
			position: relative;
			top: 12px;
		}

	}
}

@mixin tombol($bg:$biru,$text:#fff,$align:left){
	@include transition-duration(0.5s);
	font-size:14px;
	-webkit-appearance: none;
	clear:both;
	display:block;
	min-width:150px;
	background:$bg;
	color:$text;
	padding:10px 15px;
	@include border-radius(3px);
	border:none;
	position: relative;
	&:hover{
		background: darken($bg,5%);
	}
}

@mixin tombolmini($bg:#444,$warna:#fff){
	@include border-radius(2px);
	background: #444;
	font-size: 12px;
	border: none;
	color: #fff;
	padding: 5px;
}

@mixin tombol-bayangan($bg:$biru,$text:#fff,$align:left){
	@include transition-duration(0.3s);
	-webkit-appearance: none;
	clear:both;
	display:block;
	min-width:150px;
	background:$bg;
	color:$text;
	padding:10px 15px;
	@include border-radius(3px);
	border:none;
	position: relative;
	position:relative;
	-webkit-appearance:none;
	outline: none;
	@include box-shadow(0 3px 0 darken($bg,5%));
	&:hover{
		background: darken($bg,3%);
		@include box-shadow(0 3px 0 darken($bg,10%));
	}
	&:active{
		-webkit-appearance:none;
		outline: none;
		@include transition-duration(0.3s);
		background: darken($bg,3%);
		top:3px;
		@include box-shadow(0 1px 0 darken($bg,10%));
	}
}

.infobox{
	position:relative;
	margin: 10px 0;
	padding: 8px 10px 8px 40px;
	font-size:13px;
	line-height: 20px;
	color: #444;
	vertical-align:baseline;
	a{
		color:#000;
	}
	opacity:0.7;
	@include transition-duration(0.5s);
	&:hover{
		opacity: 1;
	}
}

@mixin info{
	@extend .infobox;
	background:image-url('boxes/info.png') no-repeat scroll 8px 5px #E4EBF1;
	border-bottom: 1px solid #D4D9DE;
	border-top: 1px solid #D4D9DE;
}

@mixin catatan{
	padding:8px 10px;
	@extend .infobox;
	background:#E4EBF1;
	// background:image-url('boxes/info.png') no-repeat scroll 8px 5px #E4EBF1;
	border-bottom: 1px solid #D4D9DE;
	border-top: 1px solid #D4D9DE;
}

@mixin kutipan{
	font-weight: normal;
	quotes: "" "";
	background: image-url('quote.png') no-repeat scroll 0 4px transparent;
	display: block;
	font-size: 15px;
	line-height: 25px;
	padding: 0 0 0 20px;
	color: #666;
	margin: 1em 0;
}
@mixin galat{
	@extend .infobox;
	background:image-url('boxes/alert.png') no-repeat scroll 8px 5px #FFE6DF;
	border-bottom: 1px solid #FFD9CF;
	border-top: 1px solid #FFD9CF
}

@mixin sukses{
	@extend .infobox;
	background:image-url('boxes/success.png') no-repeat scroll 8px 5px #EAF7D9;
	border-bottom: 1px solid #BBDF8D;
	border-top: 1px solid #BBDF8D;
}

@mixin breadcumb{
	ul{
		margin:0;
		padding:0;
		list-style: none;
	}
	li{
		float:left;
		font-size: 13px;
		a{
			color:#444;
			&:hover{
				color:$biru;
			}
		}
		&:after{
			content: " > ";
			margin:0 5px;
		}
		&:last-child{
			a{
				color: $biru;
			}
			&:after{
				content: "";
			}
		}
	}

}