@media only screen and (max-width: 767px) {
	// header .logo {
	// 	margin: 15px 0 0 0;
	// 	width: 50%;
	// }
	#cariTutorLanding{

		.loginform{
			margin-top: 15px;
			input{
				display: block;
			}
		}
		
		h3 span.tag{
			display: none;
		}
	}
	#headtop .cari{
		input[type="search"]{
			min-width: 10px !important;
			max-width: 50px;
		}
	}
	ul#menu{
		display: none;
	}
	#header li{
		float: none;
		a{
			border-right:none;
			border-bottom:solid 1px darken($merah, 10%);
		}
		ul{
			display: block;
			position: relative;
			left: 0 !important;
			top:0 !important;
			// background: $orange;
			li{
				border-top: none;	
			}
			a{
				
				padding-left:15px !important;	
			}
			ul a{
				padding-left:20px !important;
			}

		}
	}
	#cariTutorLanding{
		padding:15px;
	}
	#cariTutorLanding .tab li{
		padding:5px;
		font-size: 12px;
	}
	a#respmenu{
		border-right:none;
		display:block !important;
	}
	section .article li .thumb{
		display: none;
	}
	section .article li h4 a{
		clear: both;
		display: block;
	}
	.article li:first-child p{
		float: left;
	}
	footer .kanan{
		float: left;
		padding:0;
		li a{
			margin-left: 0 !important;
			margin-right: 15px;
		}
	}
}



